<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include ("components/head.html")%>
    <style type="text/css" >
        
    </style>
</head>
<body>
    <%- include ("components/navibar.html")%>

    <%- include ("components/tittlefp.html")%>
    <%- include ("components/container.html") %>


    <%- include("components/footer.html") %>
    <%- include("components/floatbutton.html") %>
</body>
</html>