
    <div id="containersection" class="section blue accent-3">
      <div class="row container">
        
       
        
        <div class="row">

          <div data-aos="fade-up"
        data-aos-duration="2000">
          <div class="col s12 l4">
            <div id="cardcontainer1" class="card-panel white">
              <img id="iconcardpanel" src="img/bus2.png">
              <br>
              <span id="spancards" class="black-text"> La mejor comodidad, calidad y trato en nuestros traslados.
              </span>
              <br>
              <br>
  
            </div>
          </div>
          <div class="col s12 l4">
            <div id="cardcontainer2" class="card-panel white">
              <img id="iconcardpanel3" src="img/telephone.png"><br>
              <span id="spancards" class="black-text">Servicio a las 24 horas los 7 dias de la semana con rapida respuesta.</span>
            </div>
          </div>
          <div class="col s12 l4">
            <div id="cardcontainer3" class="card-panel white">
              <img id="iconcardpanel3" src="img/beach.png"><br><br>

              <span id="spancards" class="black-text">Los tours con los destinos mas extravagantes de la region.</span>
              <br>
              </div>
          </div>
        </div>
        </div>

        

        

        <!--- most wanted -->

        <div class="row container">
          <div class="col s12 l12">
            <h2 id="h2tittlest" >
              Los tours mas buscados
            </h2>
          </div>
        </div>

        
        

          

          <div class="row ">

            <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
              <div class="card">
                <div class="card-image">
                  <img src="img/islasaona.jpg">
                  <span class="card-title">Isla Saona</span>
                </div>
                <div class="card-content">
                  <p>La Isla Saona se encuentra en el extremo sureste de República Dominicana. Forma parte del Parque Nacional del Este y es conocida por los mangles, los arrecifes de coral y las playas bordeadas de palmeras, como la Palmilla.
                    Superficie: 110 km²
                    Duración: 8 horas ( full day)</p>
                </div>
                <div class="card-action">
                  <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                  <a class="waves-effect   light-green accent-3 waves-light btn">US$:60.00</a>
                </div>
              </div>
            </div>
  
            <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
              <div class="card">
                <div class="card-image">
                  <img src="img/cocobongo.jpg">
                  <span class="card-title">CocoBongo</span>
                </div>
                <div class="card-content">
                  <p>El mejor show nocturno de todo el caribe. Disco show. Baila, ríe, goza hasta que salga el sol. 
                    Duración: 6 horas </p>
                </div>
                <div class="card-action">
                  <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                <a class="waves-effect   light-green accent-3 waves-light btn">US$:95.00</a>
                </div>
              </div>
            </div>
  
            <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" > 
              <div class="card">
                <div class="card-image">
                  <img src="img/buggy.jpg">
                  <span class="card-title">Buggys</span>
                </div>
                <div class="card-content">
                  <p>Conocer parte de nuestra cultura a bordo de un excitante boogie en medio del lodo y la gente muy amable y alegre atravesando los bellos paisajes de nuestra isla nunca fue tan fácil. 
                    Duración: 4 horas ( half day) 
                    </p>
                </div>
                <div class="card-action">
                  <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                  <a class="waves-effect   light-green accent-3 waves-light btn">US$:40.00</a>
                </div>
              </div>
            </div>
          </div>

          

          
        


       <!--       -->
        <div class="row ">
          <div class="col s12 l12">
            <h2 id="h2tittlest" >
              Haz tus reservaciones ya mismo con nosotros y pagalas via Paypal!
            </h2>
            <hr>
            <h4 id="h2tittlest">
              Puede realizar los pagos via web o pagar al recibir el servicio, como usted decida, nos ajustamos
              a las comodidades de pago que prefiera.
            </h4>
            <br>
            <br>
          </div>
        </div>
        
        

        

        
        <!--     -->

        <div class="row ">
          <div class="col s4 l4 ">
            <img id="logoscontainer" src="img/ministerioturismord.png">
          </div>
          <div class="col s4 l4">
            <img id="logoscontainer"  src="img/tripadvisor.png">
          </div>
          <div class="col s4 l4">
            <img id="logoscontainer"  src="img/paypala-accepted.png">
          </div>
        </div>

      </div>
    </div>
   
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>