<div class="section blue accent-3">
    <div class="row container">
        <h2 id="h2tittlest">
            Aqui le mostramos una guia de como hacer los pagos via paypal.
        </h2>
        <hr>
        <br><br><br>
        


        <div class="row">
            <div class="col s12 m12 l12">
                <h2 class="hbolderwhite" > Paso 1.</h2>
            <h6 class="hbolderwhite" >Una vez haya realizado el pago y recibido su factura debera buscar el ID de Transaccion</h6>
            <img id="paso1" src="img/factura.png">
            <h2 class="hbolderwhite" >Paso 2.</h2>
            <h6 class="hbolderwhite" >Cuando ya tenga el id de transaccion debera introducirlo en el formulario </h6>
            <img id="paso2" src="img/form id trans.png">

            <br>
            <br>
            <br>
            </div>
            
            <div class="col s12 m12 l4 offset-l5">
                <a class="waves-effect   light-blue accent-4 waves-light btn-large" href="/form" >volver al formulario</a>
            </div>

            
        </div>
    </div>
</div>