<div  class=" section blue accent-3">
    <div class="row container">
        <h1 id="h2tittlest" >Catalogo de Excursiones y Tours</h1>
        
        <hr>
        <br><br><br>
            <!---->
            <div class="row">

                <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                  <div class="card">
                    <div class="card-image">
                      <img src="img/islasaona.jpg">
                      <span class="card-title">Isla Saona</span>
                    </div>
                    <div class="card-content">
                      <p>La Isla Saona se encuentra en el extremo sureste de República Dominicana. Forma parte del Parque Nacional del Este y es conocida por los mangles, los arrecifes de coral y las playas bordeadas de palmeras, como la Palmilla.
                        Superficie: 110 km²
                        Duración: 8 horas ( full day)</p>
                    </div>
                    <div class="card-action">
                      <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:60.00</a>
                    </div>
                  </div>
                </div>
      
                <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                  <div class="card">
                    <div class="card-image">
                      <img src="img/islacatalina.jpg">
                      <span class="card-title">Isla Catalina</span>
                    </div>
                    <div class="card-content">
                      <p>Isla Catalina, también denominada Isla Ikiita, es una isla que se encuentra en el mar Caribe a sólo unos kilómetros al sureste de la Isla La Española al sur de la provincia de La Romana que es parte de la República Dominicana. Desde La Romana se tarda media hora en llegar a Isla Catalina.
                        Superficie: 9,6 km²
                        Duración: 8 horas ( full day) 
                        </p>
                    </div>
                    <div class="card-action">
                      <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:80.00</a>
                    </div>
                  </div>
                </div>
      
                <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" > 
                  <div class="card">
                    <div class="card-image">
                      <img src="img/buggy.jpg">
                      <span class="card-title">Buggys</span>
                    </div>
                    <div class="card-content">
                      <p>Conocer parte de nuestra cultura a bordo de un excitante boogie en medio del lodo y la gente muy amable y alegre atravesando los bellos paisajes de nuestra isla nunca fue tan fácil. 
                        Duración: 4 horas ( half day) 
                        </p>
                    </div>
                    <div class="card-action">
                      <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:40.00</a>
                    </div>
                  </div>
                </div>
              </div>

              

    
              <div class="row">
                <div class="col s12 m4 " data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/zonacolonial.jpeg">
                        <span class="card-title">Santo Domingo</span>
                      </div>
                      <div class="card-content">
                        <p>Nuestra capital, mucha historia y mucho conocimiento puedes obtener al conocerla. Un tour completo que no te puedes perder. 
                          Duración: 8 horas ( full day) </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:80.00</a>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/samana.jpg">
                        <span class="card-title">Samana</span>
                      </div>
                      <div class="card-content">
                        <p>Samaná (Santa Bárbara de Samaná) es una ciudad en la península de Samaná, 
                          Tiene un mirador hacia la bahía de Samaná, que alberga a miles de ballenas jorobadas durante 
                          la época de apareamiento, que ocurre en invierno. La atracción principal del Museo de Ballenas 
                          es un gran esqueleto de una ballena. El paseo marítimo del pueblo, el Malecón, tiene restaurantes y 
                          bares. Cayo Levantado, ubicado en la bahía, es una isla pequeña conocida por sus playas con palmeras.
                          Duracion: 8 horas. ( full day) </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:110.00</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/zipline.jpg">
                        <span class="card-title">Zip Line</span>
                      </div>
                      <div class="card-content">
                        <p>Atravesar un bosque completo a bordo de un cable muy largo,
                           conocer gente carismática, probar nuestro plato típico dominicano acompañado
                            de una cerveza bien fría es como vivir en el cielo por 5 horas.</p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:70.00</a>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col s12 m4 " data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/parasailing.jpg">
                        <span class="card-title">Parasailing</span>
                      </div>
                      <div class="card-content">
                        <p>Conocer gran parte de la zona turística con una vista maravillosa sentando
                           en un globo con la persona que amas y tomarte fotos que se convertirán en los 
                           recuerdos más felices es parte de nuestro plan. 
                          Duración: 1 hora.</p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:70.00</a>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/aquapark.jpg">
                        <span class="card-title">Aqua Park</span>
                      </div>
                      <div class="card-content">
                        <p>Parque acuático diseñado para el disfrute y el deleite de toda la familia 
                          con algunos objetivo Claro: crear momentos inolvidables para todos. 
                          Duración: 4 horas </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:90.00</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/cocobongo.jpg">
                        <span class="card-title">CocoBongo</span>
                      </div>
                      <div class="card-content">
                        <p>El mejor show nocturno de todo el caribe. Disco show. Baila, ríe, goza hasta que salga el sol. 
                          Duración: 6 horas </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:95.00</a>
                      </div>
                    </div>
                  </div>

                  
              </div>

              <div class="row">
                <div class="col s12 m4 " data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/hacienda.jpg">
                        <span class="card-title">Tour en Hacienda</span>
                      </div>
                      <div class="card-content">
                        <p>Concepto diferente pero muy divertido. Más de 3 actividades llenas de adrenalina diseñadas para disfrutar el paisaje y la naturaleza. 
                          Duración: 5 horas </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:100.00</a>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/dolphin park.jpg">
                        <span class="card-title">Dolphin Discovery</span>
                      </div>
                      <div class="card-content">
                        <p>Nada e interactúa con los delfines. Tendrás un contacto fascinante con estos asombrosos animales y tendrás lindos recuerdos para compartir. 
                          Duración: 3 horas. </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:140.00</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/bluemall.png">
                        <span class="card-title">Shopping Tour</span>
                      </div>
                      <div class="card-content">
                        <p>Traslado gratis ida y vuelta desde su hotel y hasta la plaza comercial en donde encontrarás esos recuerdos y regalos para tus amigos. Escríbenos y Reserva tu día de compras!!</p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:FREE!!</a>
                      </div>
                    </div>
                  </div>

                  
              </div>

              <div class="row">
                <div class="col s12 m4 " data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/partyboat.jpg">
                        <span class="card-title">Party Boat</span>
                      </div>
                      <div class="card-content">
                        <p>Fiesta en un bote, explendido viaje por el mar </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:60.00</a>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/montanaredonda.jpg">
                        <span class="card-title">Montaña Redonda + Macao Beach</span>
                      </div>
                      <div class="card-content">
                        <p>Excursion a Montaña Redonda en la comunidad de Miches, hermosa Montaña con paisajes espectaculares, 
                          terminando en la playa de macao.
                        </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:110.00</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/buceo.jpg">
                        <span class="card-title">Buceo</span>
                      </div>
                      <div class="card-content">
                        <p>Sumergete en las hermosas aguas de punta cana, disfruta de las maravillosas vistas de las profundidades</p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:95.00</a>
                      </div>
                    </div>
                  </div>

                  
              </div>

              <div class="row">
                <div class="col s12 m4 " data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/snorkeling.jpg">
                        <span class="card-title">Snorkeling</span>
                      </div>
                      <div class="card-content">
                        <p>Disfruta de aguas cristalinas en las mejores playas de la zona con los corales mas coloridos de nuestra tierra.</p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:50.00</a>
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="card">
                      <div class="card-image">
                        <img src="img/basilica.jpg">
                        <span class="card-title">Higuey City Tour</span>
                      </div>
                      <div class="card-content">
                        <p>Paseo por la comunidad de Higuey, culturistico pueblo, lleno de historia de la epoca colonial, hermosos monumentos.
                        </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn">US$:110.00</a>
                      </div>
                    </div>
                  </div>

                  
              </div>


            <!----->
           <div class="row">
            <div class="col s4 l4 " >
                <img id="logoscontainer" src="img/ministerioturismord.png">
              </div>
              <div class="col s4 l4">
                <img id="logoscontainer"  src="img/tripadvisor.png">
              </div>
              <div class="col s4 l4">
                <img id="logoscontainer"  src="img/paypala-accepted.png">
              </div>
           </div>

    </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>