<div  class=" section blue accent-3">
    <div class="row container">
        <h1 id="h2tittlest" >Catalogo de Transfers</h1>
        
        <hr>
        <br><br><br>
            <!---->
            <div class="row">

                
                <div class="row">

                    <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                      <div class="card">
                        <div class="card-image">
                          <img src="img/toyota hiace.jpg">
                          <span class="card-title">Transfers</span>
                        </div>
                        <div class="card-content">
                          <p>Traslado con capacidad para 15 personas</p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                          <a class="waves-effect   light-green accent-3 waves-light btn" href="http://wa.me/18298719898" target="_blank">whastapp</a>
                        </div>
                      </div>
                    </div>
          
                    <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" >
                      <div class="card">
                        <div class="card-image">
                          <img src="img/toyota coaster.jpg">
                          <span class="card-title">Transfers</span>
                        </div>
                        <div class="card-content">
                          <p>Traslado con capacidad para 22 personas
                            </p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form" >Reservar</a>
                          <a class="waves-effect   light-green accent-3 waves-light btn" href="http://wa.me/18298719898" target="_blank">whatsapp</a>
                        </div>
                      </div>
                    </div>
          
                    <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" > 
                      <div class="card">
                        <div class="card-image">
                          <img src="img/mercedes.jpg">
                          <span class="card-title">Transfers</span>
                        </div>
                        <div class="card-content">
                          <p>Traslado con capacidad para 18 personas
                            </p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                          <a class="waves-effect   light-green accent-3 waves-light btn" href="http://wa.me/18298719898" target="_blank">whatsapp</a>
                        </div>
                      </div>
                    </div>
    
                    

                  
              </div>

              <div class="row">
                <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" > 
                  <div class="card">
                    <div class="card-image">
                      <img src="img/hyundai h1.jpg">
                      <span class="card-title">Transfers</span>
                    </div>
                    <div class="card-content">
                      <p>Traslado con capacidad para 8 personas
                        </p>
                    </div>
                    <div class="card-action">
                      <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                      <a class="waves-effect   light-green accent-3 waves-light btn" href="http://wa.me/18298719898" target="_blank">WHATSAPP</a>
                    </div>
                  </div>
                </div>
              

              <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" > 
                <div class="card">
                  <div class="card-image">
                    <img src="img/yutong.jpg">
                    <span class="card-title">Transfers</span>
                  </div>
                  <div class="card-content">
                    <p>Traslado con capacidad para 33 personas
                      </p>
                  </div>
                  <div class="card-action">
                    <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                    <a class="waves-effect   light-green accent-3 waves-light btn" href="http://wa.me/18298719898" target="_blank">WHATSAPP</a>
                  </div>
                </div>
              </div>
            </div>
              </div>

              <h1 id="h2tittlest" >TRANSFERS VIP</h1>
        
        <hr>
        <br>

        <div class="row">
          <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" > 
            <div class="card">
              <div class="card-image">
                <img src="img/suburban.jpg">
                <span class="card-title">Transfers</span>
              </div>
              <div class="card-content">
                <p>SERVICIO VIP SUB
                  </p>
              </div>
              <div class="card-action">
                <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
                <a class="waves-effect   light-green accent-3 waves-light btn" href="http://wa.me/18298719898" target="_blank">WHATSAPP</a>
              </div>
            </div>
          </div>
        

        <div class="col s12 m4" data-aos="fade-up" data-aos-duration="2000" > 
          <div class="card">
            <div class="card-image">
              <img src="img/cadillac.jpg">
              <span class="card-title">Transfers</span>
            </div>
            <div class="card-content">
              <p>SERVICIO VIP ESCALADE
                </p>
            </div>
            <div class="card-action">
              <a class="waves-effect   light-blue accent-4 waves-light btn" href="/form"  >Reservar</a>
              <a class="waves-effect   light-green accent-3 waves-light btn" href="http://wa.me/18298719898" target="_blank">WHATSAPP</a>
            </div>
          </div>
        </div>
      </div>

            <!----->
           <div class="row">
            <div class="col s4 l4 " >
                <img id="logoscontainer" src="img/ministerioturismord.png">
              </div>
              <div class="col s4 l4">
                <img id="logoscontainer"  src="img/tripadvisor.png">
              </div>
              <div class="col s4 l4">
                <img id="logoscontainer"  src="img/paypala-accepted.png">
              </div>
           </div>

    </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>