<div class="fixed-action-btn">
    <a class="btn-floating btn-large green accent-3" href="http://wa.me/18298719898" target="_blank" > 
      <img id="logfloat" src="img/whatsapplogo.png">
    </a>
    <br>
    <a class="btn-floating btn-large white" href="mailto:abrahamvip@gmail.com" target="_blank" > 
      <img id="logfloat" src="img/gmail.png">
    </a>
  </div>
  
  <script>
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });
  

  </script>