<footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="blue-text text-accent-3  ">AbrahamVIP Online</h5>
          <p class="blue-text text-accent-3 bolder ">El mejor servicio de traslados privados en toda Republica Dominicana.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="blue-text text-accent-3 ">Redes sociales</h5>
          <ul>
            <li><a class="blue-text text-accent-3 bolder " href="#!" target="_blank" >Facebook</a></li>
            <li><a class="blue-text text-accent-3 bolder " href="https://www.instagram.com/abrahamviponline/" target="_blank">Instagram</a></li>
            <li><a class="blue-text text-accent-3 bolder " href="#!" target="_blank" >TripAdvisor</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container blue-text text-accent-3 bolder ">
       <a href="https://www.instagram.com/juicyagencyrd/" target="_blank">
        Juicy Agency RD © 2021 Copyright
       </a>
      </div>
    </div>
  </footer>