<nav id="navavip">
    <div  class="nav-wrapper">
      <a href="/" id="navlogo" class="brand-logo"><img id="avionblanco" src="img/LOGO.png"> </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons-round md-48 ">menu</i></a>
      <ul id="nav" class="right hide-on-med-and-down">
        
        
        <li><a href="/excursiones">Excursiones</a></li>
        <li><a href="/transfers">Transfers</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    
    <li><a href="/excursiones">Excursiones</a></li>
    <li><a href="/transfers">Transfers</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
  