<body id="bodytittlefp">
    
    <div class="slider">
        <ul class="slides">
          <li id="litittle" >
             <!-- random image -->
            <div class="caption center-align">
                <div id="tittlefp1" class="row">
                    
            
                    <div class="col l12 ">
                        <h1 id="h1tittlefp">
                            Los mejores traslados privados
                        </h1>
                    </div>
            
                    <div class="col l12 ">
                        <h2 id="h2tittlefp">
                            de aeropuertos a hoteles en
                        </h2>
                    </div>
            
                    <div class="col l12 ">
                        <h1 id="h1tittlefp">
                            Republica Dominicana &#127465;&#127476;
                        </h1>
                    </div>
            </div>
            </div>
          </li>
          <li id="litittle" >
             <!-- random image -->
            <div class="caption left-align">
                <div id="tittlefp1" class="row">
                    
            
                    <div class="col l12 ">
                        <h1 id="h1tittlefp">
                            Disfruta
                        </h1>
                    </div>
            
                    <div class="col l12 ">
                        <h2 id="h2tittlefp">
                            de nuestras excursiones a los mejores destinos
                        </h2>
                    </div>
            
                    <div class="col l12 ">
                        <h1 id="h1tittlefp">
                            del pais &#127465;&#127476;
                        </h1>
                    </div>
            </div>
            </div>
          </li>
          <li id="litittle" >
             <!-- random image -->
            <div class="caption right-align">
                <div id="tittlefp1" class="row">
                    
            
                    <div class="col l12 ">
                        <h1 id="h1tittlefp">
                            El mejor servicio online
                        </h1>
                    </div>
            
                    <div class="col l12 ">
                        <h2 id="h2tittlefp">
                            disponible las 24 horas
                        </h2>
                    </div>
            
                    <div class="col l12 ">
                        <h1 id="h1tittlefp">
                            todos los dias de la semana &#127465;&#127476;
                        </h1>
                    </div>
            </div>
            </div>
          </li>
          <li id="litittle">
             <!-- random image -->
            <div class="caption center-align">
                <div id="tittlefp1" class="row">
                    
            
                    <div class="col l12 ">
                        <h1 id="h1tittlefp">
                            Disfruta
                        </h1>
                    </div>
            
                    <div class="col l12 ">
                        <h2 id="h2tittlefp">
                            de nuestras excursiones a los mejores destinos de
                        </h2>
                    </div>
            
                    <div class="col l12 ">
                        <h1 id="h1tittlefp">
                            Republica Dominicana &#127465;&#127476;
                        </h1>
                    </div>
            </div>
            </div>
          </li>
        </ul>
      </div>

      <script>
           
      </script>

</body>